.searchBoxTasks {
margin-top:0;
}
.action-buttons a{
margin:0;
}
.sorting_disabled{
color:#555555;
}
.task_name,.task_due_date,.task_user {
cursor: pointer;
color:#00ae8d !important;
text-decoration: none;
}
.chzn-container-multi .chzn-choices .search-field .default {
    height:25px;
}
#taskTableDiv, #notificationTableDiv, #processesTableDiv{
padding:0px;
overflow-y:visible;
}

.dataTables_filter {
margin-right:0px;
}
#workflow_tasks tr td a, #workflow_notifications tr td a, #workflow_processes tr td a{
color:#393939;
}
#workflow_tasks tr td{
vertical-align:middle;
}
#workflow_tasks tr td a:hover, #workflow_notifications tr td a:hover, #workflow_processes tr td a:hover{
 text-decoration: none;
 color:#2B7DBC;
}
#workflow_tasks{
width:auto;
max-width:auto;
}
table{
max-width:3000px;
}
.priority{
width:10%;
}
.btn-group > .btn-sm, .btn-group + .btn-sm {
    border-width: 1px;
}

.tableButtons .dropdown-menu {
min-width:94px;
}
.tableButtons #columnsDropDown{
min-width:178px;
}
#updateDescription{
width:80%;
}
#updateTaskModal .modal-body .description{
 font-size: 14px;
    font-weight: normal;
    vertical-align:middle;
    }
    
.radio, .checkbox {
padding-left:108px;
}


.ui-pg-table{
margin-left:auto;
margin-right:0px;
table-layout:auto;
}

#attachments_div{
margin-left:5px;
margin-top:-4px;
text-align:left;
}

.othersTaskIcon {
	display: none;
	margin: 2px;
}

.adhocTaskIcon {
	display: none;
	margin: 2px;
}

tr.othersTask td:nth-child(2) .othersTaskIcon {
	display: block;
}

tr.adhocTask td:nth-child(2) .adhocTaskIcon {
	display: block;
}
#reassignSpanTask,#shareSpanTask{
	margin-bottom: 10px;
}
#reassignTaskModal .modal-body {
	padding-top:10px;
	height: auto;
	min-height: 50px;
}
#reassign-table {
	margin-bottom: 0px;
}
#processesform ,#taskform ,#notificationform{
	margin:8px 10px -10px 0px;
}
#showHideColumnsData{
padding:5px;
border:1px solid #888888;
}
#showHideColumnsData table td {
padding:5px;
}
#showHideColumnsData table{
margin:0px;
}
#columnsHide{
margin-top:-5px;
}
#reassign-table td{
vertical-align:middle;
}
#rowTaskHeader th i {
	margin-left: 4px;
}
#updateDueDate table tr td{
	padding:5px;
}
.attachmentsExist{
	margin-left: 19px;
}
#exportTaskModal .modal-dialog{
	width: 485px !important;
}
#reassignTaskModal .modal-dialog,#updateDueDate .modal-dialog{
	width: 405px !important;
}
#deleteTasks .modal-dialog{
	width: 380px !important;
}

#detailInfo{
	padding-right: 10px;
}

.ace-settings-box.open{
	min-width: 375px !important;
	padding: 0px !important;
	border-color: #ccc;
    border-style: solid;
    border-width: 0px;
}

.metaLabel {
    font-size: 13px;
    font-weight: 400;
    padding-right: 20px;
}

h3{
	margin: 0px !important;
}
.ace-settings-container{
	margin-top: -16px !important;
}

.col-xs-8,.col-xs-6{
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-bottom: 12px !important;
}

.col-sm-6{
	padding-left: 0px !important;
	padding-top: 10px !important;
}

.global{
	vertical-align: top;
	padding-left: 4%;
}

.form-actions {
    background-color: #ffffff;
    border-top: 0px;
}

.globalSpan {
    padding-left: 70px;
}

.attachment,.globalAttachment{
	padding-left: 12px !important;
	padding-right: 12px !important;
}

#attachmentsModal .modal-body{
	padding-bottom: 30px !important;
}

#taskComments{
	min-height: 50px !important;
}

#taskComment{
	height: 70px;
	width: 280px;
}

.commentBtn{
	padding-top: 10px;
	padding-right:70px;
}
.profile-activity .time{
	margin-left: 45px !important;
}
/*.btn.ace-settings-btn{
	background-color: #f5f5f5 !important;
}*/
.ui-helper-reset{
	line-height: 1.8;
}
#taskComments > span{
	padding-left: 25px !important;
}
#formLessTaskTemplate > h3 {
    width: 50%;
}

.input-group #taskComment{
    width: 459px; height: 76px;resize:none;
}

#taskDetailInfo .widget-box{
	margin: 0px !important;
}

#taskDetailInfo .widget-header{
	border-bottom: 0;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	background-color: #f5f5f5 !important;
}

.btn.ace-settings-btn{
	opacity: 1 !important;
}

#taskAttachmentsModal .modal-dialog{
	margin-top: 14px;
	width: 60%;
}

#taskCommentsModal .modal-dialog{
	margin-top: 14px;
	width: 560px;
	padding-bottom: 0px !important;
}

#taskCommentsModal .form-actions{
	margin-bottom: 0px !important;
	padding-top: 0px;
	margin-top: 0px;
}

#taskAttachmentsModal .form-group{
	margin-top: 15px !important;
}

#taskHistoryModal .modal-dialog,#iframeTaskHistoryModal .modal-dialog{
	margin-top:14px;
	width: 875px;
}

#adhocTaskListModal .modal-dialog{
	margin-top:50px;
	width: 800px;
}

#adhocTaskListModal {
	z-index: 1050 !important;
}

#shareTaskModal .modal-dialog{
	width: 450px;
}
#shareTaskModal span{
	padding-right: 20px;
}

#attachments_list .dropdown-header{
	padding: 3px 11px;
}
#taskNote {
	width: 585px;
	height: 100px;
	resize:none !important;
}

#utProcessInfoModal .modal-content{
	width: 75%;
}

#utSvg_container {
	overflow: auto;
	min-height: 100px;
}
#utProcessImage .modal-dialog {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top:14px;
	width:100%;
}
#utProcessImage .modal-body {
	padding-top: 5px;
}
#taskMoreBtnDropdown li a > i {
	width: 25%;
}
#taskMoreBtnDropdown{
	width: 150%;
}
.fileAttachment{
	padding-left: 12px!important;
}
.attachmentDescription{
	resize:none;
}

.adhocLabel{
	vertical-align: middle!important;
}