.ui-icon {
  cursor:default;
}
.widgetheader {
  cursor:move;
}

#layout-dialog .selected {
  background: no-repeat scroll 0px -51px transparent;
}
#layout-dialog .layoutchoice {
  width: 82px; 
  height: 51px; 
  float:left;
  list-style-type:none;
  margin:5px;
  padding:0;
}
.selectedcolumn {
  border: 3px dashed #aaaaaa;
}
.emptycolumn {
	font-size:14px;
	color: #555555;
	padding: 0;
}

.dashboard {
  margin-top: 5px;
}
.right {
  float:right;
}

.ui-icon {
  float:left;
}
.widget-body {
  padding:0px 0px 0px 0px;
  position:relative;
}
.widget {
  margin-bottom:10px;
}
.column  {
  float:left;
  margin:0 1% -1.5em;
  padding:0;
  width:47.5%;
}

.layout-a .column {
width:98%;
}
.layout-a .column.second, .layout-a .column.third {
display:none;
}
.layout-aa .column {
width:49.55%;
}
.layout-aa .third {
display:none;
}
.layout-ba .column {
width:68%;
}
.layout-ba .first {
width:27%;
}
.layout-ba .third {
display:none;
}
.layout-ab .column {
width:27%;
}
.layout-ab .first {
width:68%;
}
.layout-ab .third {
display:none;
}
.layout-aaa .column {
  width:30.9%;
}

.io-header
{
  position:relative;
  margin-top:0px;
  margin-left:0px;
  margin-bottom:0px;
  height:30px;
  width:100%;
  border:0px solid black;
  display:block;
}
.io-header-logo
{
  position:relative;
  float : left;
  padding:0px 0px 0px 0px;
  height:26px;
}
.headerlink {
  font-weight:normal;
  font-family: "Trebuchet MS","MS Trebuchet",Trebuchet,Helvetica,Arial;
  font-size :14px;
  color: #000;
}
.headerbox {
  height:148px;
}

.ui-widget-overlay {
  opacity:0.5;
}

.loading {
  padding: 50px;
  text-align: center;
  background-image:images/loading.gif;
}


#layout-dialog ul {
  margin:0;
  padding:0;
}

#layout-dialog ul li a, #layout-dialog ul li a:link, #layout-dialog ul li a:visited {
  border:1px solid #BBBBBB;
  display:block;
  float:left;
  margin:0 1em 1em 0;
  outline:medium none;
  padding:0.35em;
  width:auto;
}

.hidden {
  display:none;
}

.controls  {
  border:1px solid #BBBBBB;
  float:none;
  margin:0;
  padding:4px 0;
}

.controls  {
  width:100px;
  background:none repeat scroll 0 0 #dddddd;
  border:1px solid #6A8EB3;
  color:#000000;
  margin-top:-1px;
  padding:4px 0;
  position:absolute;
  right:0;
  z-index:2003;
}

.controls li {
  float:none;
  margin:0;
  padding:0;
  list-style-type:none;
  margin:0 0 0 0.2em;
  width:auto;
  position:static;
}

.controls li a {
  color:#000000;
  font-weight:normal;
  float:none;
  margin:0;
  text-decoration:none;
  width:auto;
  padding-left:5px;
}

.hiddenmenu {
  position:relative;
}

.modal .categories {
  list-style:none outside none;
  height: 414px;
}

.modal .categories li.selected button {
  color:#FFFFFF;
}
.modal .categories li button {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  color:#666666;
  font-size:0.8em;
  padding:0.4em 1.2em;
  text-align:left;
  width:100%;
}
ul.categories button {
  cursor:pointer;
}

.widgetitem {
  border:2px none white;
  float:left;
  font-size:0.77em;
  height:100px;
  margin:0;
  overflow:hidden;
  padding:0 20px 0 142px;
  width:100%;
}

ol.widgets {
  float:left;
  list-style:none outside none;
  padding:0;
  width:100%;
  margin:0;
}

.modal .panel-body {
  overflow:auto;
  padding:10px;
}

.modal .categories {
  background:none repeat scroll 0 0 #FFFFFF;
  border-right:1px solid #F0F0F0;
  float:left;
  height:100%;
  list-style:none outside none;
  margin:0 1.17em 0 0;
  padding:10px 0 0;
  width:30%;
}

.modal .categories li.selected {
  background:none repeat scroll 0 0 #6699CC;
  color:#FFFFFF;
}

.widgetitem .add-button {
  float:right;
  margin:18px 0 0 0px;
  width:auto;
}
.widgetitem  {
  padding:0;
}
.widgetitem .addWidgetDescription{
}
.widgetitem img {
  border:1px solid #999999;
  float:left;
  box-shadow: 2px 2px 1px #888888;
}

#loaderDiv
{
   background: url(../../images/loading.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   left: 400px;
   top: 0%;
   margin: -25px 0 0 -25px;
}

#dialog label, #dialog input { display:block; }
#dialog label { margin-top: 0.5em; }
#dialog input, #dialog textarea { width: 95%; }
#tabs { margin-top: 0.10em; }
#tabs li .fa-caret-down { margin: -2px -0.5em 0 12px; cursor: pointer;}

a.disabled {
  opacity: 0.5
  cursor: default;
}
.chart
{
	height:300px;
	position:relative;
	margin-left:2px;
}
#optionTable tr {
    background-color: #ffffff;
}
#optionTable tr:hover {
    background-color: #0073ea;
    cursor: pointer;
    color:white;
}
#splitButtons
{
	margin-top:-30px;
	float:right;
	/*margin-right:100px;*/
}

#userDiv
{
	margin-top:-30px;
	float:right;
	/*margin-right:4px;*/
}

.dropdown-menu.pull-center.dropdown-caret:after {
left:auto;
right:30px;
}
.dropdown-menu.dropdown-close{
    left: -37px;
    top: 95%;
}
.addtab{
    left: 0.2em;
    padding : 0px 5px;
	margin-top:2px;
}

#tablist {
	height : 33px;
}
#changeChartType {
	color:#6FB3E0 !important;
}
.header-drop
{
cursor:pointer;
}
ul.header-drop li:hover {
	background:#fee188;color:#444
}
ul.header-drop li span{
	margin-left:5px;
	color:#333333;
}
a#changeChartType {
	outline:0;
}
#rightIconOk {
cursor:pointer;
left: 185px;
}
#rightIconRemove {
cursor:pointer;
left: 210px;
}
.refreshChart {
cursor:pointer;
}
.row-fluid .second
{
margin-left:0.5%;
margin-right:0;
min-height: 25px;
}
.row-fluid .first
{
margin-left:0%;
margin-right:0.4%;
margin-bottom:12px;
min-height: 25px;
}
.selectcategory
{
cursor:pointer;
}
.widget_title{
font-size:16px;
margin-left:15px;
}
.widget_creator{
font-size:13px;
margin-left:15px;
}
.widget_description{
font-size:13px;
margin-left:15px;
}

#addwidgetdialog .panel-body {
overflow: auto;
margin-top:10px;
}
#addwidgetdialog .modal-dialog {
  padding-bottom:20px;
  width:700px;
}

#addwidgetdialog .modal-dialog {
  padding-bottom:20px;
}
table.chartFilterTable {
  border-top-width:0px !important;
  margin-bottom:0px;
}
table.chartFilterTable tr td {
  vertical-align: middle;
}
.chartFilterDates {
  height:30px;
  width:130px;
}
.limitValue {
  height:30px;
  width:170px;
}
a.filterIcon {
  margin-right: 3px;
  opacity: 0.7;
}
.chartName {
  width: 410px;
}
table.vacationTable {
 border-left: none;
    border-right: none;
}
.table_container {
  border-left: none;
  border-right:none;
}
.chartFilterTable .input-group-addon {
width: 0px;
}
.widget-name {
  font-size: 15px;
  margin-left: 5px;
}
#adhocReports_filter  input {
  margin: 0px;
}
.reportsPagination.col-sm-3.pageRows{
  padding-left: 0px;
  padding-right: 0px;
}
#adhocReports_wrapper .showEntries{
  width: 72% ! important;
  line-height: 25px;
}
.vacationHeader{
  color: #707070 !important;
}
td.expanded-group.group{
  background: url("../../../images/minus.jpg") no-repeat scroll left center transparent;
  padding: 15px;
}
td.collapsed-group.group{
  background: url("../../../images/plus.jpg") no-repeat scroll left center transparent;
  padding: 15px;
}
#addTabModal .modal-dialog,#renameTabModal .modal-dialog{
  width: 250px !important;
}
#addwidgetdialog .modal-dialog{
  width: 790px !important;
  margin-top: 0px !important;
}
#removeTabModal .modal-dialog{
  width: 375px !important;
}
#provideWidgetName .modal-dialog{
  width: 400px !important;
}