#createReportModal .modal-dialog {
	width : 1000px;
}
#createReportModal .modal-body {
	padding-top : 10px;
}
#manageTemplatesModal .modal-dialog {
	width:800px;
}
.wizard-steps li .title {
	font-size: 12px;
	margin-top: 2px;
}
.wizard-steps li:before {
	top :17px;
	border-top-width:3px;
}
.wizard-steps li .step {
	border-width: 3px;
	font-size: 12px;
    height: 30px;
    line-height: 25px;
    width: 30px;
}
.wizard-steps li.active {
	cursor: pointer;
}
.prevStep , .nextStep, .finalStep {
	margin-top: 10px;
}
.step.active {
    background-color: #5293c4 !important;
    color: white !important;
}
.info-text {
    color: #888888;
    font-size: 12px;
}
.active .info-text {
	color: #888888;
}
.border-highlight {
	border: 4px dotted #478fca !important;
}
.already-exists {
	border: 4px dotted #dd5a43 !important;
}
.move-elm {
	cursor: move;
}
#report-step1 table tr td {
	padding-top: 15px;
}
.selectize-dropdown .active {
	background-color: white;
	color:#393939;
}
.selectize-dropdown .active:hover {
	background-color: #336699;
	color: white;
}
#table_properties table tr th.active {
	background-color: #6fb3e0;
	color: white;
}
.accordion-style1 .panel-body {
	overflow: auto;
}
#format_cond_table tr td {
	padding:8px;
}
.btn-colorpicker {
	border: 1px solid #888888;
}
#format-preview-div {
	height: 80px;
	line-height: 80px;
	width: 100px;
	text-align: center;
	border: 0.5px solid #888888;
}
.accordion-style1.panel-group .panel-heading .accordion-toggle:hover {
	background-color: white;
}
.accordion-style1.panel-group .panel-heading .accordion-toggle {
	background-color: white;
}
.accordion-style1.panel-group .panel-heading .accordion-toggle.collapsed {
	background-color: white;
}
.accordion-style1.panel-group .panel {
	border-width: 0px !important;
}
#report-step5 table tr td {
	padding: 8px;
}
#column_basic_prop_table tr td  {
	padding: 8px;
}
#design_chart_prop table tr .form-control {
    max-width: 300px;
}
#design_chart_prop table tr td{
	padding: 8px;

}
#design_legend_prop table tr td {
	padding:8px;
}
#report-step2 .CodeMirror{
	height :85px;
}
#report-step2 .CodeMirror-sizer {
	border : 1px solid #888888;
	min-height: 85px !important;
}
#show-expression-hint {
	box-shadow: 2px 2px 3px #888888;
	border-radius: 3px;
	background-color: white;
}

.hint-highlight{
	cursor: pointer;
	padding:4px;
}
.hint-highlight:hover {
	background-color:#5293c4; 
	color: white
}
.custom-column > table tr td {
	padding: 3px;
}
#custom_column .panel-body {
	padding: 5px;
	overflow: visible;
}
.drag-empty {
    line-height: 200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    width: 400px;
}
.drop-highlight {
	background-color: rgba(0, 0, 0, 0.03);
	border:1px dotted #478fca;
}
.column-selector table tr th {
	cursor: move;
}
#table_properties #column_properties, #table_properties .column-selector {
	overflow: auto;
}
.auto-overflow {
	overflow: auto !important;
}
.tabbable .tab-content {
	padding:10px !important;
}
#columns-tree .divider {
    background-color: #e5e5e5;
    height: 1px !important;
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.active .info-text {
    color: white;
}
#columns-tree .active {
    background-color: #5293c4;
    color: white;
}
#createReportModal .tabbable .tab-content {
    border-bottom-width: 0;
 }
 #createReportModal .modal-body {
 	padding-bottom: 0px;
 }
 #createReportModal .modal-footer {
 	margin-top: 0px;
 }
 .preview-table {
 	margin-bottom: 5px !important;
 }
 .preview-table tr td {
 	padding: 4px !important;
 }
 #report-design-define-chart tr td {
 	padding: 5px;
 }
#updateDataSource tr > td{
 border-top:0px;
}
.panel.panel-default {
	overflow: visible;
}
.drop-area {
	overflow: auto;
}
.drop-area .dropdown-menu {
	min-width: 75px;
}
#custom_column_div {
	padding: 5px;
	margin-top:5px;
}
.custom-column-title {
	padding: 5px;
	font-size: 16px;
	margin-bottom: 5px;
	border-bottom: 1px solid #f4f4f4;
}
.filter-condition .actions-icons {
	margin-left: 15px;
}
.resizeIcon{
	font-size: 10px;
}
.two_column_table tr:nth-child(2) td{
	padding-bottom: 9px !important;
}
.editCustomCol{
	margin-right: 12px !important;
}
#cond_eq_field{
	height: 36px;
}
.expTable tbody > tr > th{
	border-top: 0px !important;
}
.customColumnTypeClass .selectize-dropdown-content {
	max-height: 150px;
}
td.expanded-group.group{
	background: url("../../../images/minus.jpg") no-repeat scroll left center transparent;
	padding: 15px;
}
td.collapsed-group.group{
	background: url("../../../images/plus.jpg") no-repeat scroll left center transparent;
	padding: 15px;
}