#usersTableDiv{
padding:0px;
overflow:hidden;
}
.chzn-drop > .chzn-results{
text-align:left;
}
.chzn-single {
text-align:left;
}
#userModalBody{
line-height:33px;
}
.userProperties{
height:26px;
padding:3px 2px;
width:215px;
}
#inputProperties .close {
	float: none;
}

.propertyDeleteSelect{
margin-top:7px;
margin-left:23px;
}

.multipleRoles .chzn-choices .search-field input{
padding:0px;
}
.chzn-container-single .chzn-single {
border-radius: 0px 0px 0px 0px;
box-shadow: 0 0 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
background:#FFFFFF ;
}
#assignRole_chzn .chzn-choices {
height:25px;
line-height:25px;
}
#user_multiple_roles {
display:inline-block;
}
#user_multiple_roles #inputProperties {
   margin-left: 106px;
}
#createUserModal .modal-body {
min-height: 100px;
height:auto;
}
#descendantRole_chzn .chzn-choices {
margin-right:20px;
}
