#checkboxId
{
margin-right:30px;
margin-top:-3px;
}
#module-element
{
display: inline-block;
height:10px;
}
.dd-handle, .dd2-content
{
height:38px;
}
 .accordion
 {
 display:table;
 } 
 #selectARoleOptions {
 	height:40px;
 }
 .dd2-content {
 	min-height: 23px;
 }
