#rolesTableDiv{
padding:0px;
overflow:hidden;
}
.chzn-single {
text-align:left;
}
.chzn-drop > .chzn-results{
text-align:left;
}
#roleModalBody{
line-height:33px;
}
.roleProperties{
height:26px;
padding:3px 2px;
}

#inputProperties .close {
	float:none;
    margin-left: 5px;
    vertical-align: middle;
}

.multipleRoles .chzn-choices .search-field input{
padding:0px;
}
.chzn-container-single .chzn-single {
border-radius: 0px 0px 0px 0px;
box-shadow: 0 0 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
background:#FFFFFF ;
}
#descendantRole_chzn .chzn-choices {
height:25px;
line-height:25px;
}
#descendantRole_chzn li.search-field input{
	padding-left: 4px;
}
.roleProperties {
width:215px;
}
#createRoleModal .modal-body {
min-height:100px;
overflow-y:visible;
}
#user_multiple_roles {
display:inline-block;
}
#user_multiple_roles #inputProperties {
 margin-left: 69px;
}
.modal-create-update-role{
padding-bottom:34px;
}
