.password, .username{
width:100%;
}
#auto_login .lbl {
margin-left:21px;
}
#log_in_btn{
float:right;
}
.login-container {
margin-left:auto;
margin-right:auto;
}
.modal-dialog {
left: 50%;
padding-bottom: 30px;
padding-top: 30px;
right: auto;
width: 600px;
}

.tableButtons ,.searchBoxTasks{
display: inline-block ;
}
#workflow_tasks_wrapper .col-sm-6, #workflow_notifications_wrapper .col-sm-6, #workflow_processes_wrapper .col-sm-6{
display: inline-block ;
}
.searchBoxTasks {
    float: right;
    margin-top: 0;
}
.table_pagination {
	margin-top:12px;
	float: none;
	line-height: 20px;
}
.rows_info {
margin-top:12px;
}
.dataTables_wrapper #paginationText {
	padding-left: 10px;
	padding-right: 0px;
}
#priority_form .radio input {
	margin-top: 7px;
}
.pageInput{
height: 28px;
width:37px;
padding: 0 4px;
}
