.menu-min .sidebar-shortcuts-large 
{
width: 180px;

}
.sidebar-shortcuts {
    line-height: 36px;
}
.nav-list > li > .submenu li > .submenu > li > a:hover {
text-decoration:none;
}
#information-dialog .modal-dialog {
	z-index: 1080;
	width: 450px;
}
#information-dialog {
	z-index: 1060;
}
