.orgMappingRolesDiv{
width:500px;
margin-left:auto;
margin-right:auto;
}
#org_create_role table tr td{
vertical-align:middle;
}
#importRoles table tr td{
vertical-align:middle;
}
#org_update_role table tr td{
vertical-align:middle;
}
#orgRoleName,#orgRealm,#orgRoleType,#orgAssignUsers,#orgUpdateRoleName,#newRealm{
width:200px;
height:31px;
}
#orgRoleDescription,#orgUpdateRoleDescription {
width:200px;
}
.addNewRealm{
cursor:pointer;
}
#org_create_role .modal-dialog{
	width: 450px !important;
}
#syncRoles .modal-dialog{
	width: 400px !important;
}
#importRoles .modal-dialog{
	width: 500px !important;
}