#newModelerModal .modal-dialog {
  width: 35%;
}
.modellerInfo{
	font-size: 10px;
}
table.sharedUsers tr td {
	font-size: 12px;
	line-height: 1.6em;
	padding-bottom: 0px !important;
}

table.sharedUsers{
	padding-bottom: 0px !important;
}

#mDComment{
	height: 31% !important;
	margin: 5% 3% 3% 0;
	resize: none;
	width: 100%;
}

#mDiagramCommentsModal .modal-body{
	margin-bottom: 3%;
}

#mDiagramCommentsModal .modal-dialog{
	width: 40%;
}

.shareMdlLabel{
	width: 21%;
	vertical-align: middle !important;
}

.sharedIcon{
	padding-top: 8px !important;
	padding-bottom: 0px !important;
}

#modelerDescription{
	resize:none;
	padding-left:5px;
}

#mDiagramComments{
	min-height: 50px !important;
}

.formCreateModeler{
	padding-top: 10px;
}

div.popover{
	max-width: 50% !important;
}