#instancesTableDiv{
	padding:0px;
}
#instances tr td a{
color:#393939;
}

#instances tr td a.instanceName{
color:#00ae8d;
}

#instances tr td{
vertical-align:middle;
}
#instances tr td a:hover{
 text-decoration: none;
 color:#ffab4c;
}
.filterStates {
margin-top:-72px;
margin-right:70px;
}
#createFilter .modal-dialog{
width:750px;
}
#listOfProcesses {
 height:auto;
 overflow: visible;
 padding:5px;
 margin-left: -10px;
}
#listOfProcesses table tbody tr td,#listOfStates table tbody tr td {
	line-height: 0.9;
	padding:4px;
}
#filterProcesses table, #filterStates table, #createFilter table{
	margin-bottom: 10px;
}
#listOfProcesses span.middleAlign {
	vertical-align: middle;
}
#dateTimeForFilter table tr td {
	line-height: 26px;
	padding:4px;
}
#createFilter input {
	height:31px;
	padding:4px 2px;
	width :160px;
}
#filters_chzn input {
	width: 150px;
}
#createFilter table tr td{
	padding:4px;
	line-height: 26px;
}
#createFilter table tr td label{
	margin-bottom: -4px;
}
#createFilter .modal-body {
	padding-top: 10px;
}
.action-buttons a {
	outline : none;
}
#instanceEvents .modal-body {
	padding-top: 10px;
}
#svg_container {
	overflow: auto;
	min-height: 100px;
}
#adhoc_svg_container {
    overflow: auto;
	min-height: 100px;	
}

#ADHOCInstanceModal .modal-dialog {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top:14px;
	width:100%;
}

#ADHOCInstanceModal .modal-body {
	padding-top: 5px;
	height:315px;
}

#processImage .modal-dialog {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top:14px;
	width:100%;
}
#processImage .modal-body {
	padding-top: 5px;
}
#svgEventInfo{
	height:300px;
	width:600px;
	position:absolute;
	background-color: white;
	opacity: 0.95;
	top:0px;
	right:5%;
	z-index:1500;
	font-size: 12px;
}
#svgInfoClose {
	padding:3px;
	margin-right:5px;
	font-weight: 400;
}
.svgActivityName {
	padding:5px;
	font-size:18px;
	font-weight: 500;
	margin-left: 5px;
}
#svgInfoHead {
	height:35px;
	line-height: 30px;
	width:100%;
	background-color: #f4f4f4;
}
#svgInfoBody {
	padding: 10px;
}
#svgEventInfo hr {
	margin-top:3px;
	margin-bottom: 3px;
}
table.closerLines tr  td{
	line-height:0.7;
}
#deleteInstanceModal {
	z-index: 1600;
}
#svgInfoHead {
	cursor: move;
}
#leftPane {
	float: left;
	width:40%;
}
#rightPane {
	float: right;
	width:60%;
}
#scopeVariableDataBody {
	overflow: auto;
	height:auto;
}
#variableXml {
	height:100%;
	width:100%;
}
#scopeVariableData .fileNameOfData {
	font-size: 16px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}
#scopeTree {
	max-height:400px;
	overflow: auto;
}
#xmlSpan {
	min-height:  150px;
	z-index:1100;
	margin-top:-15px;
}
#scopeVariableData .modal-dialog {
	padding-bottom: 10px;
}
#scopeVariableDataBody .tab-pane {
	height:auto;	
	max-height: 400px;
	overflow: auto;
}
#scopeVariableDataBody .CodeMirror{
	height:auto;
}
#xmlScrolling {
	overflow-y:auto; 
}
table.filterPropTable  tr td {
	padding:3px;
	vertical-align: middle;
}
#filterButton {
	margin-right: -1px;
}
#searchInstanceById{
	height: 25px;
	width: 150px;
}
#searchInstanceByIdPopup .modal-dialog{
	width: 350px;
}
#searchInstanceByIdPopup .modal-body {
	padding-top: 5px;
}
.dropdown-menu{
	min-width: 115px;
	z-index: 1000;
}
#searchByIdButton {
    margin-left: 2px;
}
#instanceEventsTableId tr td a {
    color: #393939;
}
#instanceEventsTableId tr td a:hover {
    color: #2B7DBC;
}
table#instances span.badge {
	padding-left:4px;
	padding-bottom: 1px;
	padding-right: 4px;
	padding-top: 1px;
	line-height: 11px;
	margin-left: 5px;
}
#faultInfo {
	overflow-x:auto;
	overflow-y:hidden;  
}
#taskInfo {
	overflow: auto;
}
div.showPathDiv {
	height:30px;
	width:100%;
	box-shadow: 2px #888888;
}
#filterProcessList{
	width: 560px;
}
#listOfProcesses .table {
	margin-bottom: 0px;
}
div.tdSpan{
	display: inline;
	vertical-align: middle;
	padding-top:14px;
}
table.popoverTable tr td {
	line-height: 0.6em;
}
table.popoverTable {
	margin-bottom: 0px;
}.margin-30{
	margin-right: 25px;
}
#listStates_chzn li.search-field input {
	width: 100px !important;
}
#svgInfoBodyError{
	margin-left: 20px;
	margin-top: 20px;
}
#copyToClip {
	outline: none;
}
.soapReqTable tr td {
	padding:7px;
}
#filterDropdown li a {
	width: auto;
}
#activityInfo{
position:fixed !important;
}
.instanceWaitingForService{
	margin-right: 10px;
}
.instanceWaitingForUser{
	margin-right: 13px;
}
.instanceWaitingFor{
	margin-right: 18px;
}
.failure_failed_cnt{
	margin-left: 20px;
}
.taskInfoActions{
	padding-top: 4px !important;
}